<div id="controls" class="mb-4">
    <input type="button" onClick="add()" id="add_btn" class="btn btn-primary" value="add"></input>
    <input type="button" onClick="delete()" id="delete_btn" class="btn btn-primary" value="delete selected"></input>
    <input type="button" onClick="save()" id="save_btn" class="btn btn-primary" value="save"></input>
</div>