<header id="header" class="row justify-content-center bg-secondary">
   <div class="col-lg-12">
         <nav>
            <ul class="nav justify-content-center scroll">
               {{#each context.0}}
                  <li class="nav-item" title="{{full_name}}" id="{{short}}-icon_link">
                     <img class="nav-link icon" src="/assets/club_logo_{{short}}.png">
                  </li>
               {{/each}}
            </ul>
         </nav>
   </div>
</header>