    <meta name="author" content="Daniel Hammeley">
    <meta name="description" content="Rest API | NISATV.NETWORK">
    <meta name="keywords" content="NISA, tv, network, stream, soccer, 1904 San Diego FC, Atlanta SC, California United Stikers, Chattanooga FC, Detroit City FC, LA Force, Miami FC, Oakland Roots, Philadelphia Fury, Stumptown Athletic">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.png">
    <link rel="stylesheet" href="/styles/bootstrap-4.3.1.min.css">
    <link rel="stylesheet" href="/styles/common.css">
    <link rel="stylesheet" href="/styles/nav.css">
    <link rel="stylesheet" href="/styles/alerts.css">
    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/popper-1.14.7.min.js"></script>
    <script src="/scripts/bootstrap-4.3.1.min.js"></script>
    <script src="/scripts/serialize-json.js"></script>