<!doctype html>
<html lang="en">
    <head>
        <title>Edit Clubs | NISATV.NETWORK</title>
        {{> partials/scripts}}
		<script src="/scripts/edit_clubs.js"></script>
    </head>

    <body>
        <div class="container-fluid bg-dark">
            <!-- header row -->
            {{> partials/header}}
            
            <aside id="notifications" class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="alert alert-info alert-dismissible fade show invisible" role="alert">
                        <strong id="msg_title"></strong>&nbsp;<span id="msg"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>    
            </aside>

            <article id="content" class="row justify-content-center">    
                <div class="col-lg-6">
                    <form id="data" name="data">
						{{> partials/controls}}
						<div id="clubs">
							{{#each context.0}} <!-- clubs -->
		                    <div id="club_{{@index}}_{{short}}" class="club form-group">
		                        <div class="row">
		                            <div class="col-lg-2">
										<div class="image-upload">
											<label for="img-file-input_{{@index}}">
												<img id="thumb_{{@index}}" class="img-thumbnail" src="/assets/club_logo_{{short}}.png" style="width: 95px; height: 75px"/>
											</label>
											<input class="club_logo_input" id="img-file-input_{{@index}}" type="file" />
										</div>
		                            </div>
		                            <div class="col-lg-8">
		                                <fieldset>
		                                    <input name="clubs[{{@index}}].full_name" class="text" type="textfield" value="{{full_name}}"></input>
		                                    <input name="clubs[{{@index}}].trivial_name" class="text" type="textfield" value="{{trivial_name}}"></input>
		                                    <input name="clubs[{{@index}}].short" class="text" type="textfield" value="{{short}}"></input>
		                                </fieldset>
		                            </div>
		                            <div class="row">
		                                <div class="col-lg-12">
		                                    <fieldset class="colors">
												<label for="colors"><h5 class="text-light">Colors</h5></label><br />
		                                        <input name="clubs[{{@index}}].colors.primary" class="text" class="text" type="textfield" size="8" maxlength="8" value="{{colors.primary}}"></input>
		                                        <input name="clubs[{{@index}}].colors.secondary" class="text" class="text" type="textfield" size="8" maxlength="8" value="{{colors.secondary}}"></input>
		                                        <input name="clubs[{{@index}}].colors.tertiary" class="text" class="text" type="textfield" size="8" maxlength="8" value="{{colors.tertiary}}"></input>
		                                    </fieldset>
		                                </div>
		                            </div>
		                        </div>
		                    </div>
		                    {{/each}}
						</div>
                    </form>
                </div>
            </article>
        </div>
    </body>
</html>