<!doctype html>
<html lang="en">
    <head>
        <title>Edit Players | NISATV.NETWORK</title>
        {{> partials/scripts}}
    </head>

    <body class="bg-dark">
        <div class="container-fluid">
            <!-- header row -->
            {{> partials/header}}
            
            <aside id="notifications" class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="alert alert-info alert-dismissible fade show invisible" role="alert">
                        <strong id="msg_title">Success!</strong>&nbsp;<span id="msg"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>    
            </aside>

            <article id="content" class="row justify-content-center">    
                <div class="col-lg-6">
                    <ul class="list-unstyled">
                    {{#each players}}
                        <li class="media mb-4">
                            <img class="mr-3" style="position: relative; min-width: 250px; max-width:250px; min-height: 175px" src="{{thumbnail}}" title="{{name}}" alt="{{name}}">
                            <h3 class="m-1 text-light" style="position: absolute; left:20px">{{squad_number}}</h3>
                            <div class="media-body">
                                <h4 class="mt-0 text-light">{{name}}</h4>
                                <h6 class="mt-0 text-light">{{position}}</h6>
                                <span class="text-light">{{bio}}</span>
                            </div>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </article>

        </div>
        <script>
            function save() {
                var form = document.querySelector('#data');
                var serialized = serializeJson(form); 
                
                $.ajax({
                    method: "POST",
                    url: "/save_clubs",
                    global: false,
                    data: JSON.stringify(serialized.clubs),
                    dataType: "json",
                    error: function() {
                        $('#msg_title').text("Error!");
                        $('#msg').text("Clubs couldn't be saved.");
                        $('.alert').removeClass("invisible");
                        $('.alert').addClass("visible");
                    },
                    success: function(msg) {
                        $('#msg_title').text("Success!");
                        $('#msg').text(msg);
                        $('.alert').removeClass("invisible");
                        $('.alert').addClass("visible");
                       
                    },
                    contentType : "application/json"
                });
            }    
        </script>
    </body>
</html>

{{!-- curl -X POST "http://localhost:8001/save_clubs" -H 'Content-Type: application/json' -d '{"full_name": "TBA 1", "trivial_name": "TBA 1", "short": "nisa", "colors": {"primary": "#111","secondary": "#222","tertiary": "#333"}}' --}}

