<!doctype html>
<html lang="en">
    <head>
        <title>Edit Matches | NISATV.NETWORK</title>
        {{> partials/scripts}}
		<script src="/scripts/edit_matches.js"></script>
    </head>

    <body>
        <div class="container-fluid bg-dark">
            <!-- header row -->
            {{> partials/header}}
            
            <aside id="notifications" class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="alert alert-info alert-dismissible fade show invisible" role="alert">
                        <strong id="msg_title"></strong>&nbsp;<span id="msg"></span>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>    
            </aside>

            <article id="content" class="row justify-content-center">    
                <div class="col-lg-6">
                    <form id="data" name="data">
						{{> partials/controls}}
						<div id="seaons">
							{{#each context.1}} <!-- season --> 
                            <div id="season_{{info.name}}"><h3 class="text-light">{{info.name}}</h3></div>
                                {{#each matches}}
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div id="match_{{home_short}}-{{away_short}}"><h3 class="text-light">{{home_short}}</h3></div>
                                        </div>
                                    </div>
                                     <div class="col-lg-12">
		                                <fieldset>
		                                    <input id="match_{{@index}}-{{away_short}} id="match_{{home_short}}-{{away_short}}" class="text" type="textfield" value="{{full_name}}"></input>
		                
		                                </fieldset>
		                            </div>
                                {{/each}}
		                      
		        
		                           
                                    <!--
		                            <div class="row">
		                                <div class="col-lg-12">
		                                    <fieldset class="colors">
												<label for="colors"><h5 class="text-light">Colors</h5></label><br />
		                                        <input name="clubs[{{@index}}].colors.primary" class="text" class="text" type="textfield" size="8" maxlength="8" value="{{colors.primary}}"></input>
		                                        <input name="clubs[{{@index}}].colors.secondary" class="text" class="text" type="textfield" size="8" maxlength="8" value="{{colors.secondary}}"></input>
		                                        <input name="clubs[{{@index}}].colors.tertiary" class="text" class="text" type="textfield" size="8" maxlength="8" value="{{colors.tertiary}}"></input>
		                                    </fieldset>
		                                </div>
		                            </div>
		                        </div>
		                    </div> -->
		                    {{/each}}
						</div> 
                    </form>
                </div>
            </article>
        </div>
    </body>
</html>