<!doctype html>
<html lang="en">
    <head>
        <title>API Help | NISATV.NETWORK</title>
        {{> partials/scripts}}
    </head>

    <body>
        {{> partials/header}}

        <article class="row justify-content-center">
            <div class="col-12-lg">
                <h3>USAGE</h3>
                <table>
                    <tr>
                        <td><b>GET /all</b></td>
                        <td>retrieves the entire db.</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/all</td>
                    </tr>
                    <tr>
                        <td><b>GET /all/clubs</b></td>
                        <td>retrieves all clubs.</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/all/clubs</td>
                    </tr>
                    <tr>
                        <td><b>GET /all/matches</b></td>
                        <td>retrieves all matches.</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/all/matches</td>
                    </tr>
                    <tr>
                        <td><b>GET /all/seasons</b></td>
                        <td>retrieves all seasons.</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/all/seasons</td>
                    </tr>
                    <tr>
                        <td><b>GET /club?&lt;by_short&gt;</b></td>
                        <td>retrieves club matchthing the short code</td>
                    </tr>
                    <tr>
                        <td>&lt;by_short&gt;:</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/club?by_short=dcfc</td>
                    </tr>
                    <tr>
                        <td><b>GET /match?&lt;by_date&gt;</b></td>
                        <td>retrieves an array of Matches for the given &lt;by_date&gt;</td>
                    </tr>
                    <tr>
                        <td>&lt;by_date&gt;:</td>
                        <td>Date rfc3339</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/match?by_date=2019-10-12T23:00:00%2B00:00</td>
                    </tr>
                    <tr>
                        <td><b>GET /match?&lt;by_short&gt;</b></td>
                        <td>retrieves an array of Matches for a particular club, given &lt;by_short&gt;</td>
                    </tr>
                    <tr>
                        <td>&lt;by_date&gt;:</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/match?by_short=dcfc</td>
                    </tr>
                    <tr>
                        <td><b>GET /seasons?&lt;by_league_short&gt;</b></td>
                        <td>retrieves an array of Seasons for a particular League, given &lt;by_league_short&gt;</td>
                    </tr>
                    <tr>
                        <td>&lt;by_league_short&gt;:</td>
                        <td>String</td>
                    </tr>
                    <tr>
                        <td>Example:</td>
                        <td>/seasons?by_league_short=nisa</td>
                    </tr>
                </table>
               
            
            </div>
        </article>
    </body>

</html>

    