<!doctype html>
<html lang="en">
    <head>
        <title>API | NISATV.NETWORK</title>
        {{> partials/scripts}}
    </head>

    <body class="bg-dark">
        {{> partials/header}}
    </body>

</html>