<!doctype html>
<html lang="en">
    <head>
        <title>Login | NISATV.NETWORK</title>
        {{> partials/scripts}}
    </head>

    <body>
        {{> partials/header}}
        <article class="row justify-content-center">
            <div class="col-8-lg">
                <form name="credentials" action="/nisa/api/admin/dashboard" method="POST" accept-charset="utf-8" enctype="application/x-www-form-urlencoded">
                    <fieldset>
                        Usermame:<br>
                        <input type="text" name="username" value="">
                        <br>
                        Password:<br>
                        <input type="password" name="password" value="">
                        <br><br>
                        <input type="submit" value="Submit">
                    </fieldset>
                </form> 
            </div>
        </article>
    </body>
</html>