@media screen and (max-width: 576px) {
	.scroll {
    	white-space: nowrap;
    	overflow: auto;
    	overflow-y: hidden;
    	-webkit-overflow-scrolling: touch;
    	-ms-overflow-style: -ms-autohiding-scrollbar;
    	overflow: -moz-scrollbars-none;
    	scrollbar-width: none;
  	}
  	.scroll::-webkit-scrollbar {
    	background: transparent;
  	}
}

#header {
	min-height: 60px;
}
.nav-item {
	margin: 12px;
}
.nav-link {
	padding: 0px;
}

.icon {
	width: 48px;
}

.image-upload > input {
	display: none;
}